Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519
  ServerAliveInterval 60
  ServerAliveCountMax 10
  ForwardAgent yes

Host baldur
  HostName baldur.astro.washington.edu
  User jfc20

Host epyc
  HostName epyc.astro.washington.edu
  User jfc20

Host ncsa
  HostName lsst-login01.ncsa.illinois.edu
  User jfcrenshaw

Host klone-login
  User jfc20
  Hostname klone.hyak.uw.edu
  ServerAliveInterval 30
  ServerAliveCountMax 1200
  ControlMaster auto
  ControlPersist 3600
  ControlPath ~/.ssh/%r@klone-login:%p

Host perlmutter
  HostName perlmutter.nersc.gov
  user jfc20