Host *
  IdentityAgent "/Users/jfcrenshaw/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  IdentityFile none
  ServerAliveInterval 60
  ServerAliveCountMax 10

Host baldur
  HostName baldur.astro.washington.edu
  User jfc20
  ForwardAgent yes

Host epyc
  HostName epyc.astro.washington.edu
  User jfc20
  ForwardAgent yes

Host ncsa
  HostName lsst-login01.ncsa.illinois.edu
  User jfcrenshaw
  ForwardAgent yes

Host klone-login
  Hostname klone.hyak.uw.edu
  User jfc20
  ForwardAgent yes
  ServerAliveInterval 30
  ServerAliveCountMax 1200
  ControlMaster auto
  ControlPersist 3600
  ControlPath ~/.ssh/%r@klone-login:%p

Host perlmutter
  HostName perlmutter.nersc.gov
  User jfc20
  ForwardAgent yes
  ControlMaster auto
  ControlPath ~/.ssh/cm-%r@%h:%p
  ControlPersist 60m

Host  slac*
  User crenshaw
  GSSAPIAuthentication yes
  PreferredAuthentications gssapi-with-mic,publickey,keyboard-interactive,password
  GSSAPIDelegateCredentials yes
  ControlMaster auto
  ControlPath ~/.ssh/cm_socket_%r@%h:%p
  ControlPersist 24h
  ForwardAgent yes
  ForwardX11 yes
  ForwardX11Trusted yes

Host slacl
  HostName s3dflogin.slac.stanford.edu

Host slacd
  Hostname rubin-devl
  ProxyJump slacl

Host slac-dev
  Hostname sdfrome001
  ProxyJump slacl
